@import "tailwindcss";

@theme {
  --color-primary: #00699f;
  --color-primary-light: #bde3ff;
  --color-primary-dark: #0484c7;
  --color-primary-blue: #4169e1;

  --color-white: #ffffff;
  --color-text: #444444;
}
